.back-to-top {
    position: fixed;
    bottom: 110px; // Distancia desde la parte inferior
    right: 25px; // Distancia desde la parte derecha
    width: 50px;
    height: 50px;
    background-color: $primary; // Color elegante (puedes ajustarlo)
    color: #fff; // Color del ícono
    border: none;
    border-radius: 50%; // Forma redonda
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    opacity: 0; // Oculto inicialmente
    visibility: hidden; // No es interactivo inicialmente
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 1000; // Asegura que esté por encima de otros elementos
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); // Aparece suavemente
}

.back-to-top:hover {
    background-color: darken($color: $primary, $amount: 10%); // Color más oscuro al pasar el mouse
}



// Button WathSap

.whatsapp-button {
    position: fixed;
    bottom: 30px; // Distancia desde la parte inferior
    right: 20px; // Distancia desde la parte izquierda
    background-color: #25D366; // Color verde de WhatsApp
    color: #fff; // Icono blanco
    width: 60px; // Tamaño del botón
    height: 60px; // Tamaño del botón
    border-radius: 50%; // Forma redonda
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; // Tamaño del icono
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1000; // Asegura que esté por encima de otros elementos
    // transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    //transform: scale(1.1); // Efecto de zoom al pasar el mouse
    background-color: #20c157; // Color más oscuro al pasar el mouse
}