.navbar{
    padding: 16px 0;

    .navbar-brand,
    .nav-link{
        font-size: 1.3em;

        &:hover{
            color: $primary;
        }
    }

    .navbar-toggler {
        box-shadow: none !important;
        border: none;
    }
}